// Create new variables, or override Bootstrap variables here

// Color Variables
// - Backgrounds
$admin-background-bg: #000;
$container-bg: #fff;

$color-red: red;

// - Borders
$border-color: $gray-lighter;
