// Bodies and Containers

.admin-body {
    min-height: 100%;
    background-color: $admin-background-bg;
    padding-bottom: 20px;
}

.admin-container {
    background-color: $container-bg;
    padding-bottom: 20px;

    margin-top: 20px;
    border-radius: $border-radius-base;

}

.auth-container {
    padding-top: 20px;
}

nav.navbar {
    margin-bottom: 0;
}

// Admin Views

.submission-received {
  padding-top: 20px;
  padding-bottom: 20px;
}


// Buttons

.btn-add-new {
    margin-top: 10px;
}

// Forms
@import './admin/forms/_edit.scss';
@import './admin/forms/_index.scss';
