.edit-form-content {

        .add-new {
            cursor: pointer;
            margin-bottom: 10px;
        }

        ul.field-rules {
            padding-left: 0;
        }

        .field-rule {
            list-style-type: none;

            label {
                cursor: pointer;
            }
        }

        .field-options-wrapper{

            clear: both;
            width: 50%;
            margin-bottom: 5px;

            .field-options {
                width: 95%;
            }

            .delete-field {
                margin-top: 8px;
            }
        }

        .delete-field {
            cursor: pointer;
        }

        .expandable-toggle {
            float: right;
        }

        label.field-label {
            margin-top: 5px;
        }

}

.form-tab {
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  padding: 5px 10px;

  margin-bottom: 10px;
}

// Component SASS For Adding/Editing Field Options

.editable-field {
}
.editable-field__expandable-toggle {
  float: right;
}

.editable-field__text-input--header {
  border: 0;
  width: 90%;
}

.editable-field__delete {
  position: relative;
  cursor: pointer;
  right: -10px;
  bottom: 5px;

  a {
      color: $color-red;
  }
}
.editable-field__heading {
  cursor: move;
}

.editable-field__placeholder {
  height: 100px;
  margin: 10px;
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
}
