.form-index {
    .form-permalink {
        margin-left: 10px;
    }
    .permalink-preview {
        width: 30%;
        display: inline-block;
        background-color: #ccc;
        border-color: #ccc;
        cursor: pointer;
    }
}