.form-index {
    .single-form__permalink {
        margin-left: 10px;
    }
    .single-form__permalink__preview {
        width: 90%;
        display: inline-block;
        background-color: $gray-lighter;
        border-color: $gray-lighter;
        cursor: pointer;
    }

    .single-form__title h3 {
      margin: 0;
      padding: 0;
    }

    .single-form__description {
        @include padding-top-medium;
        @include padding-bottom-medium;
        @include padding-left-medium;
    }

    .single-form__actions {
        @include padding-left-medium;
        list-style-type: none;
    }
    .single-form__actions li.single-form__action {
        display: inline;
        margin-right: 10px;
    }
    #sortable-courses {
        list-style-type: none;
        padding-left: 0;
    }
    #sortable-courses li {
        display:inline;
        margin: 0;

    }
}
